<h2><%= @task.name %></h2>
<p><%= @task.check %></p>
<p><%= @task.due_date %></p>


<%= link_to "edit task", edit_task_path %>
<%= link_to "delete task", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
